<div class="the-wedding-wrapper">
    <div class="container">
        <div class="the-wedding">
          <div class="the-wedding-container">
              <p class="the-wedding-heading">The Wedding</p>
              <div class="row the-wedding-container-rows">
                <div class="col-md-4 the-wedding-when-and-where">
                    <p class="the-wedding-where">Where</p>
                    <p class="the-wedding-where-place">Some where</p>
                </div>
                <div class="col-md-4 the-wedding-when-and-where">
                    <p class="the-wedding-when">When</p>
                    <p class="tthe-wedding-when-time">Some time</p>
                </div>
              </div>
              <div class="the-wedding-container-register">
                  <button>REGISTER</button>
              </div>
          </div>
        </div>
      </div>
</div>

