<div id="home-page">
  <div class="wrapper">
    <div class="wrapper-wrapper">
        <div class="container">
          <div class="invitation">
            <div class="invitation-main">
                <p class="invitation-main-heading">Together with their families</p>
                <p class="invitation-main-names">Vanshika <span>&</span> (What's his name ?)</p>
                <p class="invitation-main-joyful">Joyfully invite you to their wedding celebration</p>
                <div class="invitation-main-dates">
                  <p>Where:</p>
                    In a galaxy far far away...
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="wrapper-supporting"></div>
  </div>
</div>
