<div id="home-page">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">OUR STORY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">THE WEDDING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GETTING THERE</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="wrapper">
    <div class="wrapper-wrapper">
        <div class="container">
          <div class="invitation">
            <div class="invitation-main">
                <p class="invitation-main-heading">Together with their families</p>
                <p class="invitation-main-names">Vanshika <span>&</span> Can't recall his name...</p>
                <p class="invitation-main-joyful">Joyfully invite you to their wedding celebration</p>
                <div class="invitation-main-dates">
                  <p>Where:</p>
                    In a galaxy far far away...
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="wrapper-supporting"></div>
  </div>
</div>
