<div class="wrapper">
    <h3>Countdown</h3>
  <div class="wrapper-timer row">
    <span class="wrapper-timer-days wrapper-timer-time col-2">
        {{timerDays}} <br>
        <span class="wrapper-timer-text">
            Days
        </span>
    </span>
    <span class="wrapper-timer-hours wrapper-timer-time col-2">
        {{timerHours}} <br>
        <span class="wrapper-timer-text">
            Hours
        </span>
    </span>
    <span class="wrapper-timer-minutes wrapper-timer-time col-2">
        {{timerMinutes}} <br>
        <span class="wrapper-timer-text">
            Minutes
        </span>
    </span>
    <span class="wrapper-timer-seconds wrapper-timer-time col-2">
        {{timerSeconds}} <br>
        <span class="wrapper-timer-text">
            Seconds
        </span>
    </span>
  </div>
</div>
