@import "./../../../scss/variables.scss";
.video-container {
  position: relative;
  video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position:relative;
    z-index:0;
  }
  .getting-there {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    z-index:1;
    min-height: 80vh;
    display: flex;
    align-items: center;
    &-wrapper {
      display: flex;
      align-items: center;
    }
    &-heading {
      text-align: center;
      font-family: 'Great Vibes', cursive;
      font-size: 2em;
      color: white;
    }
    &-text {
      text-align: center;
      display: flex;
      justify-content: center;
      color: $white-color;
    }
  }
}
