<div class="video-container">
  <video autoplay muted loop>
          <source src="./../../../assets/test.mp4" type="video/mp4">
          Your browser does not support the video tag.
  </video>

  <div class="getting-there">
    <div class="getting-there-wrapper">
      <div>
          <p class="getting-there-heading">Getting there</p>
          <div class="row getting-there-text">
            <div class="col-md-5 getting-there-text-one">
                TRANSPORTATION
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
            </div>
            <div class="col-md-5 getting-there-text-two">
                TRANSPORTATION
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

